
h1{
    text-align: center;
transition:transform 1s;
   
}
h1:hover{
    transform:scale(1.2);
}
h2{
    text-align: center;
    margin-top: 100px;
    transition:transform 1s;
}
h2:hover{
    transform:scale(1.2);
}
p{
    text-align:center;
    margin-top: 40px;
    transition:transform 1s;
}
p:hover{
    transform:scale(1.2);
}
*{
    color: white;
    box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column img {
  margin-top: 8px;
 
  width: 100%;
}
img{
  border-width: 10px;
  border-radius: 30%;
  border-style: solid;
  border-color: rgb(121, 19, 5);
}